{% extends "base.html.twig" %}
{% block conteiner %}
    <div class="row">
        <div class="col">
            <div class="card border-light" >
                <div class="card-header h5 text-center">Cadastro de Usuários</div>
                <div class="card-body">
                    <form style="padding: 2% 10% 2% 10%;" action="{{path('SalvarUsuario')}}" method="post" id="formUsuario" onkeydown="EnterKeyFilter();">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nome" name="nome" maxlength="15" minlength="2" onkeyup="somenteLetras(this);" required>
                                <div id="resultadoNome" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Sobrenome" name="sobrenome" maxlength="40" minlength="2" onkeyup="somenteLetras2(this);" required>
                                <div id="resultadoSobrenome" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                            </div>
                        </div><br/>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Login (Somente números)" maxlength="10" minlength="4" name="login" onkeyup="somenteNumeros(this);" required>
                                <div id="resultado" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                            </div>
                        </div><br/>
                        <div class="row">
                            <div class="col">
                                <input type="password" class="form-control" placeholder="Senha" name="senha" id="senha" maxlength="12" required>
                                <div id="senhas" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                            </div>
                            <div class="col">
                                <input type="password" class="form-control" placeholder="Confirmar Senha" name="confirmar" id="confirmar" maxlength="12" required>
                                <div id="resultadoConfirmar" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                            </div>
                        </div><br/>
                        <div class="row">
                            <div class="col-1" style="margin-right: -35px;">
                                <label class="my-2 mr-2">Status:</label>
                            </div>
                            <div class="col-2">                                
                                <select class="custom-select my-1 mr-sm-1" name="status">
                                    <option selected value="Ativo">Ativo</option>
                                    <option value="Inativo">Inativo</option>
                                </select>
                            </div>
                            <div class="col-1" style="margin-right: -42px;">
                                <label class="my-2 mr-2">Perfil:</label>
                            </div>
                            <div class="col-2">                                
                                <select class="custom-select my-1 mr-sm-1" name="tipo" required>
                                    <option selected value="" >Selecionar</option>
                                    <option value="1">Administrador</option>
                                    <option value="2">Atendente</option>
                                    <option value="3">Triagem</option>
                                </select>
                            </div>
                            <div id="resultadoPerfil" style="color: red; font-size: 9pt; margin-top: 5px;"></div>
                        </div><br/>
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn btn-secondary" style="margin-right: 25px; width: 100px;" id="cancelarUsuario" onclick="voltar('{{path('Usuarios')}}')">Voltar</button>
                                <button type="button" class="btn btn-primary" style="width: 100px;" onclick="salvarUsuario();">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}