{% extends "base.html.twig" %}
{% block conteiner %}
    <p class="text-center h3" style="margin-top: 1%;">Bem vindo ao<br/>
        Sistema de Gerenciamento de Filas Online.</p><br/><br/>
    <div class="text-center">
        <img src="{{asset('bundles/app/imagens/fila.png')}}" style="width: 250px; height: 250px;"/>
    </div>
{% endblock %}