{% extends "base.html.twig" %}
{% block conteiner %}

    <div class="row">
        <div class="col">
            <div class="card border-light" >
                <div class="card-header h5 text-center">Selecione a fila para triagem:</div>
                <div class="card-body">
                    <div class="list-group" style="">
                        {% if filas != null %}
                            {% for fila in filas %}
                                <a href="/triagem/{{ fila.id }}" class="list-group-item list-group-item-action h5 text-center list-group-item-light" style="margin-bottom: 5px;">
                                    {{ fila.nome }}
                                </a>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-danger text-center" role="alert">
                                Nenhuma fila cadastrada!
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}