<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Login{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/bootstrap/css/bootstrap.css')}}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{asset('bundles/app/jquery/jquery.js')}}"></script>
    </head>
    <body style="background-color: #E0F8F7;">
        {% block body %}
            <div class="container-fluid" >
                <table style="width: 98%; margin-top: 2%;" align="center">
                    
                    <tr>
                        <td width="50%">
                            <label style="font-size: 35pt;">Normal</label><br/>
                            <label style="font-size: 160pt; margin-top: -80px;"><b>BO0001</b></label>
                        </td>
                        <td width="50%" align="center">
                            <label style="font-size: 60pt;">Guichê</label><br/>
                            <label style="font-size: 60pt; margin-top: -50px;">01</label>
                        </td>
                    </tr>
                </table><br/>
                <table style="position: absolute; bottom: 0;  background-color: #CECEF6; width: 98%; margin-bottom: 2%; border-radius: 10px;" align="center">
                    <tr>
                        <td colspan="4"><span style="margin-left: 40px; font-size: 25pt;">Ultimas Senhas:</span></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <label ><b style="font-size: 50pt;">AO0001</b><br/><span style="font-size: 40pt;">Guichê 01</span></label>
                        </td>
                        <td align="center">
                            <label ><b style="font-size: 50pt;">AO0001</b><br/><span style="font-size: 40pt;">Guichê 01</span></label>
                        </td>
                        <td align="center">
                            <label ><b style="font-size: 50pt;">AO0001</b><br/><span style="font-size: 40pt;">Guichê 01</span></label>
                        </td>
                        <td align="center">
                            <label ><b style="font-size: 50pt;">AO0001</b><br/><span style="font-size: 40pt;">Guichê 01</span></label>
                        </td>
                    </tr>
                </table>
            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{asset('bundles/app/bootstrap/js/bootstrap.bundle.js')}}"></script>
        {% endblock %}
    </body>    
</html>
